body{
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}
a{
    text-decoration: none;
    text-shadow: 0 -3px black;
    
}

.navbar{
    background-color: #555;
    text-align: right;
    box-shadow: 0 0 10px #111;
   

}
.navbar li{
    display: inline-block;
    vertical-align:middle;
    padding: 8px;
}
.navbar a{
    color: white;
}

.navbar a::after {
    content:"";
    display:block;
    border-bottom: 1px solid transparent;
    transform: translateX(100%);
    transition: 0.5s;
 

}
.navbar a:hover::after{
    border-bottom-color:white;
    transform: translateX(0%);   
}